body {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em;
	background-color: #000000;
	background-position: top;
	background-repeat: no-repeat;
}

a, a:link, a:visited { color: #CC9933; font-weight: bold; text-decoration: none; }
a:hover { color: #CC9933; opacity: 0.80; text-decoration: none; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 28px; color:#000; margin: 0 0 30px 0; padding: 5px 0 }
h2 { font-size: 25px; margin: 0 0 20px 0; padding: 5px 0px 0px 20px; line-height: 30px; color: red; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
a.h3{color: #CC9933;}
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.button { display: block; width: 114px; height: 30px; text-align: center; padding-top: 6px; color: #CC9933; font-weight: bold; background: url(../images/templatemo_button.png) }
a.button:hover { text-decoration: none; color: #FFFFFF; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #999; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

.image_wrapper_02 { position: relative; width: 280px; height: 120px; margin-bottom: 10px }
.image_wrapper_02 span { position: absolute; width: 280px; height: 120px; background: url(../images/image_frame.png) }


#wrapper { width: 964px; margin: 0 auto; background: url(../images/img.jpg) repeat;}

#header {
	width: 964px;
	height: 233px;
	margin: 0 auto;
	background: url(../images/background.png) repeat;
}

#site_title a {
	float: left;
	display: block;
	width: 308px;
	height: 63px;
	margin: 100px 0 0 120px;
	font-size: 40px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	background: url(../images/mabodhi_logo.png) no-repeat;
}
#newsletter { float: right; width: 300px; height: 48px; padding: 10px 25px; margin: 0; background: url(../images/templatemo_newsletter_box.png); }
#newsletter table {width: 260px; float: right; height: auto; padding: 0px; margin: 0px;}
#newsletter form { width: 280px; height: 27px; padding: 0; margin-top: 8px; } 

#menu {
	clear: both;
	float: right;
	margin-top: 20px;
	color: #CC9933;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#menu ul li a {
	float: left;
	display: block;
	width: 75px;
	height: 40px;
	font-size: 13px;
	padding: 5px 0 0 0;
	margin-left: 25px;
	color: #CC9933;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	border: none;
}

#menu ul li a:hover, #menu ul .current {
	color: #ffffff; 
}

#main {
	clear: both;
	padding: 40px 0 0 0;
	min-height: 450px;
}

.title { display: inline-block; padding: 20px 60px 20px 0; margin-bottom: 10px; font-size: 24px; color: #CC9933; }
.content_box {
	padding-bottom: 30px;
	margin-bottom: 30px;	
}


#footer {
	width: 964px;
	padding: 20px 0;
	text-align: center;
	color: #8d8d8d;
}

#footer a {
	font-weight: normal;
	color: #fff;
}

/*====== style for foundation video page ============== */
#foundation_lft{
	float: left;
	height: auto;
	width: 130px;
}
	#foundation_lft_bdy{
		text-decoration: none;
	}
	
	#foundation_lft_bdy ul{
		list-style: none;
	}
	#foundation_lft_bdy li a{
	    color: #fff;
	}
	
	#foundation_lft_bdy li a:hover{
		list-style: none;
		color: #fff;
		opacity: 0.7;
	}
#foundation_rit{
	float: left;
	height: auto;
	width: 774px;
	padding-left: 60px;
}
	#foundation_rit_bdy{
		text-decoration: none;
		height: auto;
		margin-bottom: 10px;
	}
	.scroll { 
	    width:770px;
	    height: 400px;
	    overflow: scroll;
	    overflow-x: hidden;
	}
	.scrollContainer div.panel{
	    width: 700px;
	    height: 410px;
	    padding: 0px;
	    text-align: left;
	    padding-left: 25px;
	}
	.cleaner_h40 {
	    clear: both;
	    width:100%;
	    height: 40px;
	    }
	
	.box{
		background-color: rgb(238, 238, 238);
		float: left;
		padding: 10 px;
		width: 212px;
		height: 240px;
		margin: 10px;
		border-radius: 5px 5px 5px 5px;
		
	}
	.box1{
		background-color: red;
		float: left;
		padding: 10 px;
		width: 100px;
		margin: 10px;
		border-radius: 5px 5px 5px 5px;
		position: relative;
		text-align: center;		
	}
	.box1 :hover{
		text-decoration: none;
	}
	.img{
		border: 1px solid rgb(222, 222, 222);
		height: 195px;
		width: 204px;
		margin-bottom: 5px;
		padding: 1px;
	}
	.img :hover{
		opacity: 1;
	}
	.ttl{
		float: left;
		height: 40px;
		font-size: 12px;
		line-height: 15px;
		margin-bottom: 4px;
		padding-left: 3px;
	}
	.ttl a:hover{
		text-decoration: none;
		
	}
	
#player{
	margin-left: 150px;
	height: 400px;
	width: 650px;
	padding: 5px;
	background: #ccc;
	margin-bottom: 20px;
}

/*================ style for donation page =================*/
#donation{
	margin-left: 10px;
	height: 400px;
	width: 935px;
	padding: 5px;
	background: url(../images/donate.png) no-repeat;
	margin-bottom: 20px;
}
#donation1{
	margin: 45px auto auto 15px;
	height: 240px;
	width: 305px;
	padding: 30px;
	background: #ccc;
	opacity: 0.3;
}
.donn{
	float: left;
	background: #CC9933;
	border: 0px;
	font-size: 20px;
	width: 80px;
	padding-left: 40px;
}
#don_1{
	float: left;
	padding-top: 6px;
	padding-right: 10px;
	font-size: 25px;
	height: 30px;
	width: 200px;
	margin: 30px 0px 40px 40px;
	background: #CC9933;
}
#don_2{
	float: left;
	padding: 5px;
	margin: 5px;
}
#don_3{
	float: right;
	padding: 5px;
	margin: 5px;
}

/*============= uzer login style  ==*/
#uzer{
	float: left;
	margin-left: 280px;
}
#uzer_1{
	float: left;
	padding-top: 6px;
	padding-right: 10px;
	font-size: 25px;
	height: 30px;
	width: 200px;
	margin: 10px auto 10px 40px;
	background: #FFFFFF;
}
.uzer1{
	float: left;
	background: #FFFFFF;
	color: #000;
	border: 0px;
	font-size: 20px;
	width: 200px;
}
